.container {
  background-color: aqua;
  width: 320px;             
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 12px;
}

.container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}
.container p {
  font-size: 14px;
  line-height: 1.6;
}
