.body{
    background-color: pink;
}
.container{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin:100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}
.conatiner img{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.button{
    padding: 8px 15px;
    border: none;
    background-color: pink;
    border-radius: 5px;
    cursor: pointer;
}